body {
  margin-top: 50px;
}

.navbar .bestest-logo {
  font-family: 'Satisfy', sans-serif;
  font-size: 25px;
}

h1 {
  text-transform: uppercase;
}

h1 small {
  font-size: 40%;
  font-weight: bold;
  display: block;
  margin-bottom: -5px;
}

h1 small.pull-right {
  margin-left: 4px;
}

/*h1.short-name .pull-right {
  float: none;
  display: inline-block;
}*/

/* TOPICS */

.answer-row {
  height: 30px;
  line-height: 30px;
  font-size: 150%;
  color: #757575;
}

.answer-row .rank,
.answer-row .name,
.answer-row .votes {
  display: inline-block;
}

.answer-row .name {
  color: #222;
}

.answer-row .vote-up {
  color: #757575;
  position: relative;
}

.answer-row .vote-up i {
  line-height: 30px;
  font-size: 42px;
  position: absolute;
  top: 10px;
}
.answer-row .vote-up:hover {
  color: #222222;
  cursor: pointer;
}

.answer-row .expanded-row {
  font-size: 85%;
}

.topic-tags span {
  cursor: pointer;
}

/* PAGINATION */
.pagination .page-numbers {
  background: #ffffff;
  border-top: 0;
  border-bottom: 0
}

/* ADVERTISEMENTS */
.advertise-here-link {
  display: block;
  text-align: right;
  width: 300px;
  margin: 0 auto;
}

/* CAROUSEL */
.angular-bootstrap-caroursel {
  margin: 10px 0;
}

.favourites-lead {
  margin-bottom: 0;
}

.carousel .item a {
  color: #333;
}

.carousel a.active,
.carousel .item a:hover {
  color: #97310E;
}

/* TWITTER */
.twitter-avatar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 4px;
}

.twitter-row {
  padding: 4px 4px 4px 64px;
  position: relative;
}

.twitter-row.alt {
  background: #f6f6f6;
}

.twitter-logo,
.twitter-row .handle:hover {
  color: #9AE4E8;
}

/* UTILITIES */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  margin-left: 0 !important;
  padding: 10px;
}

.clearfix {
  clear: both;
}
.entry-selected {
  background-color: orange;
}

.location-targeting strong {
  font-size: 150%;
}
