{% load verbatim %}<!DOCTYPE html>
<html ng-app="ngView">
  <head>
    <title>The Bestest</title>
    <script src='/static/lib/angular/angular.js'></script>
    <script src='/static/lib/angular/angular-ui.min.js'></script>
    <script src='/static/lib/jquery/jquery.js'></script>
    <script src='/static/lib/bootstrap/bootstrap.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/lib/bootstrap/font-awesome.css'>
    <link rel='stylesheet' type='text/css' href='/static/lib/bootstrap/bootstrap.no-icons.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/lib/angular/angular-ui.min.css'>
    <link rel='stylesheet' type='text-css' href='/static/lib/bootstrap/united.css'>
    <!-- ANGULAR STUFF -->
    <script src='/static/js/app.js'></script>
    <script src='/static/js/controllers/main.js'></script>

  </head>
  <body>
    {% verbatim %}
    <div class="container" ng-controller="MainCtrl">
      <div class="row">
        <div class="span8">
          Hello <span ng-bind="namee"></span>
        </div>
      </div>
    </div>
    {% endverbatim %}
  </body>
</html>
