{% load verbatim %}<!DOCTYPE html>
<html ng-app="ngView">
  <head>
    <title>The Bestest</title>
    <script src='/static/lib/angular/angular.js'></script>
    <script src='/static/lib/angular/angular-ui.min.js'></script>
    <script src='/static/lib/angular/angular-resource.min.js'></script>
    <script src='/static/lib/jquery/jquery.js'></script>
    <script src='/static/lib/bootstrap/bootstrap.min.js'></script>
    <script src='/static/lib/underscore.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/lib/bootstrap/bootstrap.no-icons.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/lib/angular/angular-ui.min.css'>
    <link rel='stylesheet' type='text-css' href='/static/lib/bootstrap/united.css'>
    <link rel='stylesheet' type='text/css' href='/static/lib/bootstrap/font-awesome.css'>
    <!-- <link rel='stylesheet' type='text-css' href='/static/css/carousel.css'> -->
    <link rel='stylesheet' type='text-css' href='/static/css/bestest.css'>
    <!-- OTHER DEPENDENCIES -->
    <!-- <script src='/static/js/dfp-ad-tags.js'></script>-->
    <!-- ANGULAR STUFF -->
    <script src='/static/js/app.js'></script>
    <script src='/static/js/values.js'></script>
    <script src='/static/js/factories/models.js'></script>
    <script src='/static/js/factories/pagination.js'></script>
    <script src='/static/js/controllers/main.js'></script>
    <script src='/static/js/controllers/topic.js'></script>
    <script src='/static/js/directives/ad-tag.js'></script>
    <!--<script src='/static/js/directives/carousel.js'></script>-->

  </head>
  <body>
  {% verbatim %}
  <div ng-controller="MainCtrl">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand bestest-logo" href="#">The Bestest</a>
          <ul class="nav pull-right">
            <li><a href="#"><i class="icon-user"></i>Joe User</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <div ng-view></div>
        </div>
        <div class="span4">

          <carousel id="faavoritesCarousel" data-items="favorites"></carousel>

          <ad-tag ad-unit="The_Best" width="300" height="250">
            <!-- <div id="{{adUnitDivId}}" style=width:{{width}}px; height:{{height}}px;""></div> -->
            <img ng-src="{{displayAd}}" width="{{width}}" height="{{height}}">
            <small class="advertise-here-link"><a href="#">Advertise Here</a></small>
          </ad-tag>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}
  </body>
</html>
